{% extends 'main.html' %}

{% block content %}
<style>
    body {
        background-color: rgb(255, 255, 255); /* Change this color to whatever you want */
    }
</style>

<div class="container" style="max-width: 1200px; margin: 0 auto; padding: 0 20px; display: flex; flex-direction: column; gap: 30px;">
    
        <h1 style="color: black;">Want to post a job?</h1>
        <p style="color: black;">This is the place to do it!</p>
    {% if request.user.user_type == 'company' %}
        <!-- Room Creation Button -->
        <div class="room-creation-btn-container">
            <a href="{% url 'create-room' %}" class="btn btn--main">Create Job Posting</a>
        </div>
    {% endif %}    
    
    <div class="search-bar">
        <form method="GET" action="{% url 'jobs' %}">
            <input type="text" name="q" placeholder="Search jobs..."/>
        </form>
    </div>

    {% if request.GET.q %}
    <section class="additional-content">
        <h2>Jobs That Fit Your Search: "{{ request.GET.q }}"</h2>
        <div>
            {% if request.user.user_type == 'company' %}
                <a href="{% url 'create-room' %}">Create Job Posting</a>
            {% endif %}
            {% include 'base/feed_component.html' %}
        </div>
    </section>
    {% else %}
    <section class="additional-content">
        <h2 style="color: black;">All Jobs</h2>
        <div>
            {% include 'base/feed_component.html' %}
        </div>
    </section>
    {% endif %}
</div>

<section style="height: 1500px;">
    <!-- Just empty space to allow scrolling -->
</section>

<!-- Back to Top Button -->
<button onclick="scrollToTop()" 
    style="position: fixed; bottom: 30px; right: 30px; padding: 10px 20px; background-color: #333; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
    Back to Top
</button>
<script>
    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>
{% endblock %}