{% extends 'main.html' %}

{% block content %}
<style>
    body {
        background-color: rgb(255, 255, 255); /* Change this color to whatever you want */
    }
</style>
<h1>Your Dashboard</h1>

<div class="additional-content">
    <h2>Companies You've Applied For</h2>
    {% if applications %}
        {% include 'base/feed_component.html' with items=applications %}
    {% else %}
        <p>You haven't applied to any companies yet.</p>
    {% endif %}
</div>

<div class="additional-content">
    <h2>Rooms You've Hosted</h2>
    {% if rooms_hosted %}
        {% include 'base/feed_component.html' with items=rooms_hosted %}
    {% else %}
        <p>You haven't hosted any rooms yet.</p>
    {% endif %}
</div>

<div class="additional-content">
    <h2>Rooms You've Participated In</h2>
    {% if rooms_participated %}
        {% include 'base/feed_component.html' with items=rooms_participated %}
    {% else %}
        <p>You haven't participated in any rooms yet.</p>
    {% endif %}
</div>

<div class="additional-content">
    <h2>Reviews / Messages You've Sent</h2>
    {% if messages_sent %}
        {% include 'base/feed_component.html' with items=messages_sent %}
    {% else %}
        <p>You haven't sent any reviews or messages yet.</p>
    {% endif %}
</div>

{% endblock %}